<form [formGroup]="formularioCadastro" (ngSubmit)="enviaCadastro ()">
  <mat-form-field>
    <input matInput placeholder="Email de Login" formControlName="email">
    <mat-error *ngIf="email?.errors?.['required']">O campo de e-mail não pode estar vazio</mat-error>
    <mat-error *ngIf="email?.errors?.['email']">O formato do e-mail não é válido!</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Entre coma senha" formControlName="senha" type="password">
    <mat-error *ngIf="senha?.errors?.['required']">Esqueceu a senha</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Senha de acesso" type="password">
    <mat-error *ngIf="senha?.errors?.['required']">Senha não pode estar vazia!</mat-error>
  </mat-form-field>

<mat-card-footer>
<button mat-raised-button color="accent" type="submit">Entrar</button>
<button mat-button mat-dialog-close>Fechar</button>

</mat-card-footer>
